*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.hide {
  display: none;
}

.border-gra {
  border-image: linear-gradient(0deg, #9333ea, #ec4899);
  border-image-slice: 1;
}


.task-col-a {
  @apply bg-lime-400
}

.task-col-b {
  @apply bg-red-400
}

.task-col-c {
  @apply bg-amber-400
}