*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-list li {
  width: 14rem;
  width: 20rem;
  padding: 1.5rem;
  cursor: pointer;
  background-color: rgb(75, 71, 71);
  font-weight: 600;
  text-transform: uppercase;
}

.card-list li:hover {
  background-color: rgba(192, 187, 187, 0.267);
}

.card-list li:active {
  background-color: rgba(104, 103, 103, 0.712);
}

.dropzone {}

.title {
  text-transform: uppercase;
}

.dropzone h2 {
  background-color: rgb(44, 43, 43);
  padding: 1rem;
}

.dropzone-area {
  padding-top: 2rem;
  background-color: rgb(68, 66, 66);
  width: 25rem;
  min-height: 30rem;
  max-height: fit-content;
}